{% load static %}
{% load bootstrap4 %}

<head>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
<head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">AniN3</a>
	<form class="form-inline" method="get" action="{% url 'searchByName' %}">
		<input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
		<li class="nav-item">
		  <a class="nav-link" href="http://127.0.0.1:8000/anime/random">Random</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Tags</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Artists</a>
		  </li>
	  </ul>

	</div>	  
	<ul class="nav navbar-nav navbar-right">
		<li>
			<div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/insert">Create</a>
			</div>
		</li>
	</ul>
</nav>


<div class="container">
    {% block content %}
    {% endblock %}

</div>